body {
  margin: 0;
}

#cal-container {
  width: 500px;
  height: 250px;
  margin: 50px auto 0;
  position: relative;
  border: 1px solid black;
}

#cal-container > div {
  display: inline-block;
  position: absolute;
  width: 250px;
  height: 250px;
}

.right {
  left: 250px;
}

x-month-selector /deep/ div {
  display: inline-block;
}

x-month-selector /deep/ #month {
  margin: 0 25px;
}

x-calendar {
  text-align: center;
}

x-calendar /deep/ .highlight {
  color: white;
  background-color: red;
}
